In [20]:
import pytz
from datetime import datetime

# Define timezone
timezone = pytz.timezone('Asia/Tokyo')

# Get current time in the specified timezone
current_time = datetime.now(timezone)
print("Current time in Tokyo:", current_time)

Current time in Tokyo: 2025-03-06 06:21:55.527933+09:00

In [21]:
from datetime import datetime

# Get current time
current_time = datetime.now()
print("Current time:", current_time)

Current time: 2025-03-06 10:22:08.728746

In [24]:
from datetime import datetime

# Time object containing the current time
current_time = datetime.now().time()

# Print the current time
print("Current time =", current_time)

Current time = 10:28:28.921527

In [25]:
import math

# Input radius from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate area
area = math.pi * (radius ** 2)
print("Area of the circle with radius", radius, "is", area)

Enter the radius of the circle:  1.1

Area of the circle with radius 1.1 is 3.8013271108436504

In [26]:
# Input first and last name
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

# Print names in reverse order
print(last_name, first_name)

Enter your first name:  Manraj
Enter your last name:  Chuut

Chuut Manraj

In [27]:
# This example is the same as Example 5
# Input first and last name
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

# Print names in reverse order
print(last_name, first_name)

Enter your first name:  Harman
Enter your last name:  Singh

Singh Harman

In [28]:
color_list = ["Red", "Green", "White", "Black"]

# Display first and last colors
print("First color:", color_list[0])
print("Last color:", color_list[-1])

First color: Red
Last color: Black

In [30]:
import calendar

# Input year and month
year = int(input("Enter year: "))
month = int(input("Enter month: "))

# Print the calendar
print(calendar.month(year, month))

Enter year:  2012
Enter month:  09

   September 2012
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [31]:
def find_max(a, b, c):
    return max(a, b, c)

# Input three numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Find and print the maximum number
max_num = find_max(num1, num2, num3)
print("The maximum of", num1, num2, num3, "is", max_num)

Enter first number:  12
Enter second number:  09
Enter third number:  06

The maximum of 12.0 9.0 6.0 is 12.0

In [32]:
# Display message
print("Kia Ora, this is a parking meter")

# Set ParkTime
ParkTime = 4  # hours

# Initialize rate and cost
rate = 0
cost = 0

# Calculate parking charges
if ParkTime <= 3:
    rate = 4  # $ per hour
else:
    rate = 2  # $ per hour for additional hours after the first 3 hours

if ParkTime <= 3:
    cost = ParkTime * 4
else:
    cost = 3 * 4 + (ParkTime - 3) * 2

# Display the calculated charge
print("The parking charge for", ParkTime, "hours is $", cost)

Kia Ora, this is a parking meter
The parking charge for 4 hours is $ 14

In [35]:
def swap_elements(lst, pos1, pos2):
    lst[pos1], lst[pos2] = lst[pos2], lst[pos1]
    return lst

# Input list and positions
lst1 = [23, 65, 19, 90]
pos1_1, pos2_1 = 1, 3
print("Original list:", lst1)
print("List after swapping elements at positions", pos1_1, "and", pos2_1, ":", swap_elements(lst1, pos1_1, pos2_1))

lst2 = [1, 2, 3, 4, 5]
pos1_2, pos2_2 = 1, 4  # Updated indices to be within range
print("Original list:", lst2)
print("List after swapping elements at positions", pos1_2, "and", pos2_2, ":", swap_elements(lst2, pos1_2, pos2_2))

Original list: [23, 65, 19, 90]
List after swapping elements at positions 1 and 3 : [23, 90, 19, 65]
Original list: [1, 2, 3, 4, 5]
List after swapping elements at positions 1 and 4 : [1, 5, 3, 4, 2]